# Data Preparation and Market Data

### Text Mining on Earnings Calls during a Pandemic as a Means to Predict End-Of-The-Month Stock Performances
####  Olin School of Business <br> Jose Luis Rodriguez  <br> jlr@wustl.edu <br> Fall 2021

In [2]:
import intrinio_sdk
import configparser as cp
import pandas as pd


**Intrinio API: Secure method to load API credentials**

In [2]:
cfg = cp.ConfigParser()
cfg.read('resources/credentials.cfg')

['resources/credentials.cfg']

In [3]:
API_KEY = cfg['intrinio']['app_key']

intrinio_sdk.ApiClient().configuration.api_key['api_key'] = API_KEY

security_api = intrinio_sdk.SecurityApi()

## Hotels, Restaurants and Leasure Stocks Tickers

In [23]:
#sdf = pd.read_csv('data/hrl_mrk20.csv')
ind_sic = sdf[['related']].drop_duplicates().rename(columns={'related':'sic_code'})
ind_sic = ind_sic.sort_values(by='sic_code')
ind_sic.to_csv('data/')

    sic_code
120     ACEL
61      AESE
84       AGS
0       ARKR
32      ARMK
..       ...
172      WEN
220       WH
180     WING
112     WYNN
228      YUM

[83 rows x 1 columns]

In [4]:
tickers = sdf['related'].apply(lambda x:x.split(':')[1] if len(x.split(':'))>1 else '')
sdf['ticker'] = tickers
tickers = tickers.reset_index()
tickers.columns = ['index','ticker']
tickers = tickers.drop(columns = ['index'])
tickers

    ticker
0
1
2
3
4
..     ...
305
306
307
308
309

[310 rows x 1 columns]

In [83]:
# date | Return prices on or after the date (optional)
start_date = '2021-01-01'

# date | Return prices on or before the date (optional)
end_date = '2021-12-31'

# str | Return stock prices in the given frequency (optional) (default to daily)
frequency = 'monthly'

In [84]:
dfs = []
missing = []
for ticker in tickers['ticker'].unique():
    try:
        next_page = ''
        response = security_api.get_security_stock_prices(ticker,
                                                          start_date = start_date,
                                                          end_date = end_date,
                                                          frequency = frequency)
        df = [p.to_dict() for p in response.stock_prices]
        next_page = response.next_page
        if next_page != None:
            response = security_api.get_security_stock_prices(ticker,
                                                              start_date = start_date,
                                                              end_date = end_date,
                                                              frequency = frequency,
                                                              next_page = next_page)    
            df.extend(p.to_dict() for p in response.stock_prices)
        df = pd.DataFrame.from_dict(df)
        df['secid'] = ticker
        dfs.append(df)
    except:
        missing.append(ticker)

In [85]:
sdf = pd.concat(dfs)
sdf.index = pd.DatetimeIndex(sdf['date'])
sdf = sdf.drop('date', axis=1)
sdf.index.name = None

#SORT DATETIME INDEX
sdf = sdf.sort_index()

(667, 20)

In [86]:
sdf.head()

,intraperiod,frequency,open,high,low,close,volume,adj_open,adj_high,adj_low,adj_close,adj_volume,factor,split_ratio,dividend,change,percent_change,fifty_two_week_high,fifty_two_week_low,secid
2021-01-31,False,monthly,37.82,41.00,27.47,27.79,2.636638e+07,2.240467,2.492328,2.185373,2.262245,2.636638e+07,1.0,1.0,11.0,0.04,0.017,None,None,MIC
2021-01-31,False,monthly,15.85,21.77,14.71,17.17,1.444467e+09,15.850000,21.770000,14.710000,17.170000,1.444467e+09,1.0,1.0,0.0,1.4,0.0888,None,None,AAL
2021-01-31,False,monthly,77.34,82.32,71.57,71.69,2.167858e+06,76.641410,81.576427,70.923529,71.042445,2.167858e+06,1.0,1.0,0.0,-5.1,-0.067,None,None,FWRD
2021-01-31,False,monthly,134.68,158.91,132.36,139.40,6.480489e+06,132.054256,158.025887,129.779487,138.624433,6.480489e+06,1.0,1.0,2.0,6.59,0.0499,None,None,LSTR
2021-01-31,False,monthly,119.32,128.57,108.78,110.41,1.792281e+07,70.280848,75.729204,64.072667,65.032756,1.792281e+07,1.0,1.0,0.0,-5.18,-0.0737,None,None,XPO

In [87]:
sdf.to_csv('data/trs_mnt-2021.csv')

## Market + Earnings Data Merge

In [229]:
hrl20 = pd.read_csv('data/source/hrl_2020.csv')
related = hrl20['related'].apply(lambda x: x.split(':')[1] if len(x.split(':')) > 1 else x.split(':')[0])
hrl20.loc[:,'related'] = related
hrl20.loc[:,'date'] = pd.to_datetime(hrl20['date'])
hrl20['month'] = hrl20['date'].apply(lambda x:str(x.month).zfill(2) + '-' + '2020' )

hrl_mnt20 = pd.read_csv('data/source/hrl_mnt-2020.csv')
hrl_mnt20 = hrl_mnt20.rename(columns = {'Unnamed: 0':'date'})
htl_mnt20 = hrl_mnt20.drop(columns = ['intraperiod', 'frequency', 'fifty_two_week_high',
                                      'fifty_two_week_low', 'factor', 'split_ratio', 'dividend'])
htl_mnt20.loc[:,'date'] = pd.to_datetime(htl_mnt20['date'])
htl_mnt20['month'] = htl_mnt20['date'].apply(lambda x:str(x.month).zfill(2) + '-' + '2020' )

hrl21 = pd.read_csv('data/source/hrl_2021.csv')
related = hrl21['related'].apply(lambda x: x.split(':')[1] if len(x.split(':')) > 1 else x.split(':')[0])
hrl21.loc[:,'related'] = related
hrl21.loc[:,'date'] = pd.to_datetime(hrl21['date'])
hrl21['month'] = hrl21['date'].apply(lambda x:str(x.month).zfill(2) + '-' + '2020' )

hrl_mnt21 = pd.read_csv('data/source/hrl_mnt-2021.csv')
hrl_mnt21 = hrl_mnt21.rename(columns = {'Unnamed: 0':'date'})
htl_mnt21 = hrl_mnt21.drop(columns = ['intraperiod', 'frequency', 'fifty_two_week_high',
                                      'fifty_two_week_low', 'factor', 'split_ratio', 'dividend'])
htl_mnt21.loc[:,'date'] = pd.to_datetime(htl_mnt21['date'])
htl_mnt21['month'] = htl_mnt21['date'].apply(lambda x:str(x.month).zfill(2) + '-' + '2020' )

In [230]:
bind = []
for sec in hrl20['related'].unique():
    dfco = hrl20[hrl20['related'] == sec]
    dfmnt = htl_mnt20[htl_mnt20['secid'] == sec]
    if dfmnt.shape[0] > 1:
        dfco = dfco.merge(dfmnt, on = 'month')
        dfco = dfco.drop(columns = ['secid', 'month', 'doc_type', 'link'])
        dfco = dfco.rename(columns = {'date_x':'date_earnings', 'date_y':'date_market'})
        dfco = dfco[['date_earnings', 'date_market', 'time', 'related', 'company',
                     'speakers_info', 'speakers_transcript',
                     'speakers_number', 'corpus', 'adj_open', 'adj_high', 'adj_low',
                     'adj_close', 'adj_volume', 'change', 'percent_change']]
        dfco = dfco.sort_values(by = 'date_earnings')
        dfco['direction'] = dfco['percent_change'].apply(lambda x: 'positive' if x>0 else 'negative')        
        bind.append(dfco)
hrl20_df = pd.concat(bind)
hrl20_df.shape

(310, 17)

In [231]:
bind = []
for sec in hrl21['related'].unique():
    dfco = hrl21[hrl21['related'] == sec]
    dfmnt = htl_mnt21[htl_mnt21['secid'] == sec]
    if dfmnt.shape[0] > 1:
        dfco = dfco.merge(dfmnt, on = 'month')
        dfco = dfco.drop(columns = ['secid', 'month', 'doc_type', 'link'])
        dfco = dfco.rename(columns = {'date_x':'date_earnings', 'date_y':'date_market'})
        dfco = dfco[['date_earnings', 'date_market', 'time', 'related', 'company',
                     'speakers_info', 'speakers_transcript',
                     'speakers_number', 'corpus', 'adj_open', 'adj_high', 'adj_low',
                     'adj_close', 'adj_volume', 'change', 'percent_change']]
        dfco = dfco.sort_values(by = 'date_earnings')
        dfco['direction'] = dfco['percent_change'].apply(lambda x: 'positive' if x>0 else 'negative')        
        bind.append(dfco)
hrl21_df = pd.concat(bind)
hrl21_df.shape

(309, 17)

In [232]:
trs20 = pd.read_csv('data/source/trs_2020.csv')
related = trs20['related'].apply(lambda x: x.split(':')[1] if len(x.split(':')) > 1 else x.split(':')[0])
trs20.loc[:,'related'] = related
trs20.loc[:,'date'] = pd.to_datetime(trs20['date'])
trs20['month'] = trs20['date'].apply(lambda x:str(x.month).zfill(2) + '-' + '2020' )

trs_mnt20 = pd.read_csv('data/source/trs_mnt-2020.csv')
trs_mnt20 = trs_mnt20.rename(columns = {'Unnamed: 0':'date'})
trs_mnt20 = trs_mnt20.drop(columns = ['intraperiod', 'frequency', 'fifty_two_week_high',
                                      'fifty_two_week_low', 'factor', 'split_ratio', 'dividend'])
trs_mnt20.loc[:,'date'] = pd.to_datetime(trs_mnt20['date'])
trs_mnt20['month'] = trs_mnt20['date'].apply(lambda x:str(x.month).zfill(2) + '-' + '2020' )

trs21 = pd.read_csv('data/source/trs_2021.csv')
related = trs21['related'].apply(lambda x: x.split(':')[1] if len(x.split(':')) > 1 else x.split(':')[0])
trs21.loc[:,'related'] = related
trs21.loc[:,'date'] = pd.to_datetime(trs21['date'])
trs21['month'] = trs21['date'].apply(lambda x:str(x.month).zfill(2) + '-' + '2020' )

trs_mnt21 = pd.read_csv('data/source/trs_mnt-2021.csv')
trs_mnt21 = trs_mnt21.rename(columns = {'Unnamed: 0':'date'})
trs_mnt21 = trs_mnt21.drop(columns = ['intraperiod', 'frequency', 'fifty_two_week_high',
                                      'fifty_two_week_low', 'factor', 'split_ratio', 'dividend'])
trs_mnt21.loc[:,'date'] = pd.to_datetime(trs_mnt21['date'])
trs_mnt21['month'] = trs_mnt21['date'].apply(lambda x:str(x.month).zfill(2) + '-' + '2020' )

In [233]:
bind = []
for sec in trs20['related'].unique():
    dfco = trs20[trs20['related'] == sec]
    dfmnt = trs_mnt20[trs_mnt20['secid'] == sec]
    if dfmnt.shape[0] > 1:
        dfco = dfco.merge(dfmnt, on = 'month')
        dfco = dfco.drop(columns = ['secid', 'month', 'doc_type', 'link'])
        dfco = dfco.rename(columns = {'date_x':'date_earnings', 'date_y':'date_market'})
        dfco = dfco[['date_earnings', 'date_market', 'time', 'related', 'company',
                     'speakers_info', 'speakers_transcript',
                     'speakers_number', 'corpus', 'adj_open', 'adj_high', 'adj_low',
                     'adj_close', 'adj_volume', 'change', 'percent_change']]
        dfco = dfco.sort_values(by = 'date_earnings')
        dfco['direction'] = dfco['percent_change'].apply(lambda x: 'positive' if x>0 else 'negative')        
        bind.append(dfco)
trs20_df = pd.concat(bind)
trs20_df.shape

(220, 17)

In [234]:
bind = []
for sec in trs21['related'].unique():
    dfco = trs21[trs21['related'] == sec]
    dfmnt = trs_mnt21[trs_mnt21['secid'] == sec]
    if dfmnt.shape[0] > 1:
        dfco = dfco.merge(dfmnt, on = 'month')
        dfco = dfco.drop(columns = ['secid', 'month', 'doc_type', 'link'])
        dfco = dfco.rename(columns = {'date_x':'date_earnings', 'date_y':'date_market'})
        dfco = dfco[['date_earnings', 'date_market', 'time', 'related', 'company',
                     'speakers_info', 'speakers_transcript',
                     'speakers_number', 'corpus', 'adj_open', 'adj_high', 'adj_low',
                     'adj_close', 'adj_volume', 'change', 'percent_change']]
        dfco = dfco.sort_values(by = 'date_earnings')
        dfco['direction'] = dfco['percent_change'].apply(lambda x: 'positive' if x>0 else 'negative')        
        bind.append(dfco)
trs21_df = pd.concat(bind)
trs21_df.shape

(220, 17)

In [237]:
hrl20_df.to_csv('data/hrl_mrk20.csv', index = False, doublequote = True)
hrl21_df.to_csv('data/hrl_mrk21.csv', index = False, doublequote = True)
trs20_df.to_csv('data/trs_mrk20.csv', index = False, doublequote = True)
trs21_df.to_csv('data/trs_mrk21.csv', index = False, doublequote = True)